# Credit Card Customers

El dataset que se trabajará consta de información de clientes de una empresa de tarjetas de crédito, de los cuales algunos han tomado la decisión de prescindir de sus tarjetas y otros que han decidido conservarlas.
El objetivo del estudio es averiguar posibles razones del porque han decidido abandonar el servicio y mejor aun, poder preveer quienes podrian ser candidatos a abandonar el servicio y poder tener una estrategia de retencion de clientes.
Inicialmente se importaran las librerias con las que se trabajaran para realizar la inspeccion de los datos.

## Librerias

In [20]:
import pandas as pd
import numpy as np

## Exploracion de datos

El dataset se tomo de Kaggle y se guardo una copia en Github, para tenerlo disponible independientemente de Kaggle.

In [21]:
url = "https://raw.githubusercontent.com/chris0162/ChristianAraya_Portfolio/main/Credit%20Card%20Customers/BankChurners.csv"
clients = pd.read_csv(url)
clients.head(5)

,ID,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Trans_Amt,Total_Trans_Ct,Avg_Utilization_Ratio
0,714073983,Existing Customer,47,M,2,Unknown,Single,$40K - $60K,36,6,3,3,7327.0,0,7327.0,1788,46,0.000
1,718076733,Existing Customer,43,M,1,Graduate,Single,$60K - $80K,31,4,3,3,25824.0,1170,24654.0,3101,73,0.045
2,710511858,Existing Customer,58,F,0,Unknown,Married,Less than $40K,36,3,3,3,3832.0,1439,2393.0,4741,88,0.376
3,766273533,Existing Customer,53,M,2,Uneducated,Unknown,$80K - $120K,46,3,6,3,17190.0,1736,15454.0,15055,117,0.101
4,779249583,Existing Customer,56,F,1,Graduate,Married,Less than $40K,38,4,3,3,2578.0,2462,116.0,1378,29,0.955

### Descripcion de variables

CLIENTNUM

**Client number**, Unique identifier for the customer holding the account //
**Attrition_Flag**,Internal event (customer activity) variable - if the account is closed then 1 else 0
**Customer_Age**, Demographic variable - Customer's Age in Years
**Gender**, Demographic variable - M=Male, F=Female
**Dependent_count**, Demographic variable - Number of dependents
**Education_Level**. Demographic variable - Educational Qualification of the account holder (example: high school, college graduate, etc.)
**Marital_Status**, Demographic variable - Married, Single, Divorced, Unknown
**Income_Category**. Demographic variable - Annual Income Category of the account holder (< $40K, $40K - 60K, $60K - $80K, $80K-$120K, > $120K, Unknown)
**Card_Category**, Product Variable - Type of Card (Blue, Silver, Gold, Platinum)
**Months_on_book**. Period of relationship with bank